    
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<section>
    <div class="container">
        <div class="row product-list dev">
            <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="product-image">
                                <img style="width:100%" src="~/Content/NewFolder1/Cloths.png">
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <h2>Cloths</h2>
                        </div>
                    </div>
                    @using (@Html.BeginForm("Cloths", "Authentication", FormMethod.Post))
                    {

                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row justify-content-center">
                                    <div class="col-6 align-content-around">
                                        @*<button class="btn btn-light" type="button">Buy Now!</button>*@
                                        <input class="btn btn-light" type="submit" name="" value="Check IT" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-sm-6 col-md-4 product-item animation-element slide-rotate-clockwise">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="product-image">
                                <img style="width:100%" src="~/Content/NewFolder1/Electronics.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <h2>Electronics</h2>
                        </div>
                    </div>
                    @using (@Html.BeginForm("Electronics", "Authentication", FormMethod.Post))
                    {

                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        @*                                        <button class="btn btn-light" type="button" style="align-items:center;">Buy Now!</button>*@
                                        <input class="btn btn-light" type="submit" name="" value="Check IT" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item animation-element slide-top-right">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="product-image">
                                <img style="width:100%" src="~/Content/NewFolder1/footweaar.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <h2>Footware</h2>
                        </div>
                    </div>
                    @using (@Html.BeginForm("Footwear", "Authentication", FormMethod.Post))
                    {

                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        @*<button class="btn btn-light" type="button">Buy Now!</button>*@
                                        <input class="btn btn-light" type="submit" name="" value="Check IT" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item animation-element slide-fade-slow">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="product-image">
                                <img style="width:100%" src="~/Content/NewFolder1/furniture.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <h2>Furniture</h2>
                        </div>
                    </div>
                    @using (@Html.BeginForm("Furniture", "Authentication", FormMethod.Post))
                    {

                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        @*                                        <button class="btn btn-light" type="button">Buy Now!</button>*@
                                        <input class="btn btn-light" type="submit" name="" value="Check IT" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item animation-element slide-fade">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="product-image">
                                <img style="width:100%" src="~/Content/NewFolder1/kitchenware.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <h2>Kitchenware</h2>
                        </div>
                    </div>
                    @using (@Html.BeginForm("Kitchenware", "Authentication", FormMethod.Post))
                    {

                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <input class="btn btn-light" type="submit" name="" value="Check IT" />

                                        @*                                        <button class="btn btn-light" type="button">Buy Now!</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item animation-element slide-fade-xslow">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="product-image">
                                <img style="width:100%" src="~/Content/NewFolder1/toys.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <h2>Toys</h2>
                        </div>
                    </div>
                    @using (@Html.BeginForm("toys", "Authentication", FormMethod.Post))
                    {

                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <input class="btn btn-light" type="submit" name="" value="Check IT" />

                                        @*                                        <button class="btn btn-light" type="button">Buy Now!</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item animation-element slide-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="product-image">
                                <img style="width:100%" src="~/Content/NewFolder1/woolens.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <h2>Woolens</h2>
                        </div>
                    </div>
                    @using (@Html.BeginForm("woolens", "Authentication", FormMethod.Post))
                    {

                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <input class="btn btn-light" type="submit" name="" value="Check IT" />

                                        @*                                        <button class="btn btn-light" type="button">Buy Now!</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item animation-element slide-top">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="product-image">
                                <img style="width:100%" src="~/Content/NewFolder1/matress.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <h2>Matress</h2>
                        </div>
                    </div>
                    @using (@Html.BeginForm("mattresses", "Authentication", FormMethod.Post))
                    {

                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <input class="btn btn-light" type="submit" name="" value="Check IT" />

                                        @*                                        <button class="btn btn-light" type="button">Buy Now!</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item animation-element slide-right">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="product-image">
                                <img style="width:100%" src="~/Content/NewFolder1/stationary.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <h2>Stationary</h2>
                        </div>
                    </div>
                    @using (@Html.BeginForm("stationary", "Authentication", FormMethod.Post))
                    {

                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <input class="btn btn-light" type="submit" name="" value="Check IT" />

@*                                        <button class="btn btn-light" type="button">Buy Now!</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>}
                </div>

            </div>
        </div>
    </div>
</section>
